* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background: #e2dbdb;
}

body,
input,
button,
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.main-conteiner {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

.main-conteiner .logo {
  width: 100%;
  max-width: 980px;
}

.main-conteiner ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}

.main-conteiner ul li {
  flex-direction: column;
  background-color: #4b47471a;
  border-radius: 5px 5px 0 0;
}

.main-conteiner ul li .pokemon {  
  margin: 5% 0% 5% 0%;
}

.main-conteiner ul li footer {
  flex: 1;
  background: rgb(0, 0, 0, 0.3);
  padding: 15px 20px;
  border-radius: 0 0 5px 5px;
}
p {
  color: white;
  margin: 0;
}
strong {
  color: #000000;
}

.main-conteiner .inputs{
  display: flex;
  justify-content: space-between;
}

.main-conteiner .inputs .input {
  width: 70%;
  border: 0;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 28px;
}

.main-conteiner .inputs .autoComplete{
  width: 25%;
}

input::placeholder{
  color: #999;
}

@media (max-width: 546px) and (min-width: 480px) 
{
  .main-conteiner ul li{
    margin: 25px;
  }
}

@media (min-width: 546px) and (max-width: 765px) 
{
  .main-conteiner ul {
    grid-gap: 0;
  }
  .main-conteiner ul li{
    margin: 10px;
  }
}